$blanco:#FFF;
$azulCl:#38b9db;
$azulOs:#1b2133;
$gris:#747474;
$grissemi:#7474745e;
$blanco2:#f4f3f3;
$rosa:#f74668;
$Secundario:#38b758;
$sombra:rgba(0, 0, 0, 0.3);
$font-size: 14px;
$font:"https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500,700";
$font-name:"Roboto Slab";